/* LINKS ----------------------------------- */

a {
    color: #973D8E;
    text-decoration: none;

    -webkit-transition: color .2s ease;
    transition: color .2s ease;
}
a:link {
    color: #973D8E;
}
a:visited {
    color: #973D8E;
}
a:hover {
    color: #ED76E1;

    -webkit-transition: color .2s ease;
    transition: color .2s ease;
}

/* HIGHLIGHT COLOR ----------------------------------- */

/* Safari */
::selection {
    background: #973D8E;
    color: white;
    display: block;
}
/* Firefox */
::-moz-selection {
    background: #973D8E;
    color: white;
    display: block;
}

footer {
    background-color: #973D8E;
}
h1 {
    background-color: #973D8E;
}